@font-face {
    font-family: "tk-tenso-n4";
    src: url(https://use.typekit.net/af/923b74/00000000000000000001441e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/923b74/00000000000000000001441e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),
        url(https://use.typekit.net/af/923b74/00000000000000000001441e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "tk-tenso-n7";
    src: url(https://use.typekit.net/af/fc5a0b/000000000000000000014422/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),
        url(https://use.typekit.net/af/fc5a0b/000000000000000000014422/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),
        url(https://use.typekit.net/af/fc5a0b/000000000000000000014422/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
}

.bold {
    font-family: "tk-tenso-n7";
    font-weight: 800;
}

.header {
    padding-top: 30px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

nav {
    font-size: 20.8px;
    /* z-index: 100; */
    font-family: "tk-tenso-n4";
}

nav .navbar-nav>li {
    margin: 0 1em;
    position: relative;
}

nav .navbar-nav>li,
nav .navbar-nav>li a {
    padding-left: 0;
    margin-left: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #1a1a1a;
    padding: 5px 0px;
    border-bottom: 2px solid #fff;
}

.navbar-light .navbar-nav>li>a:hover {
    background: none;
    border-bottom: 2px solid #1a1a1a;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: black;
}

.navbar-light .navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* line 117, ../sass/screen.scss */
.navbar-brand {
    /* height: auto; */
    padding: 0;
    font-size: 2.3em;
    color: black;
}

.margin-bottom {
    margin-bottom: 25px;
}

#filter.dropdown-menu {
    width: 200px !important;
}

.custom-dropdown {
    position: absolute;
    border: 2px solid #1a1a1a;
    border-radius: 0;
    background: #fff;
    list-style: none;
    font-size: 16px;
    padding: 20px 10px;
    width: 300px;
    display: none;
}

.custom-drop-item:hover,
.custom-drop-item:focus {
    text-decoration: underline;
    background-color: white;
    color: black;
}

.dropdown-menu.filter-buttons {
    padding: 20px 10px;
    border-radius: 0;
}

.dropdown-menu.filter-buttons li {
    padding-left: 20px;
}

/* line 130, ../sass/screen.scss */
a {
    color: #1a1a1a;
    font-family: "tk-tenso-n4";
}

/* line 133, ../sass/screen.scss */
a:hover {
    color: #1a1a1a;
}

iframe {
    box-sizing: border-box;
    margin: -30px;
}

.article-link {
    font-size: 20.3px;
    text-decoration: none;
    font-weight: 500;

}

.article-link:hover {
    text-decoration: underline;
}

.article ul {
    border-bottom: 1px solid #1a1a1a;
    list-style-type: disc;
}

.article ul li {
    border-top: 1px solid #1a1a1a;
    padding: 20px 0px;
    margin-left: -32px;
    font-size: 1em;
    list-style: none;
    line-height: 1.6em;
}

.btn-link {
    color: #2d00ee;
    text-decoration: none;
    border: none;
}

.btn-link:hover {
    color: #2d00ee;
}

a.btn-link:focus {
    box-shadow: none;
}

.btn-primary {
    background-color: #2d00ee;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
}

.btn-primary:hover {
    background-color: #1d009f;
}

.btn.scroll-btn.chosen,
.btn.zoom-btn.chosen,
.btn.level-btn.chosen,
.btn.reset-btn.chosen {
    background-color: #2d00ee;
    border-color: #2d00ee;
    border-radius: 0;
    color: white;
}

.btn.scroll-btn,
.btn.zoom-btn,
.btn.level-btn,
.btn.reset-btn {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    border-radius: 0;
    color: white;
}

.btn.scroll-btn:focus,
.btn.zoom-btn:focus,
.btn.level-btn:focus,
.btn.reset-btn:focus {
    box-shadow: none;
}

.btn-info {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    border-radius: 0;
    color: white;
}

.btn-info:hover {
    background-color: #2d00ee;
    border-color: #2d00ee;
    border-radius: 0;
    color: white;
}

.btn-info:focus {
    box-shadow: none;
    background-color: #2d00ee;
    border-color: #2d00ee;
    border-radius: 0;
    color: white;
}

.btn-info.active,
.btn-info:focus:active {
    box-shadow: none;
    background-color: #2d00ee;
    border-color: #2d00ee;
    border-radius: 0;
    color: white;
}

.btn-blue {
    background-color: #2d00ee;
    text-transform: uppercase;
    padding: 15px 27px;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 15px;
}

.btn-blue:hover {
    background-color: #1d009f;
    color: #fff;
}

.btn-blue:focus {
    background-color: #1d009f;
    color: #fff;
}

.btn-outline-dark {
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 0;
    margin-top: .6em;
    margin-right: .6em;
    font-size: 18.27px;
}

p,
#quizLabel {
    font-size: 20.3px;
    line-height: 1.35em;
    margin-bottom: 1em;
}

img[src*="#about-img"] {
    float: left;
    margin: 5px 20px 20px 0;
}

.form-group {
    margin-bottom: 40px;
}

.modal-body {
    display: flex;
    padding: 5rem;
    justify-content: center;
    align-items: center;
}

#dwv,
#dwv2,
#dwv3,
#dwv4 {
    margin-bottom: 20px;
}

.layerContainer {
    max-width: 100%;
    max-height: 300px;
}

canvas {
    max-width: inherit;
    max-height: inherit;
}

.col-lg-6.mr {
    padding-left: 0;
}

.col-md-6.mr {
    padding-left: 0;
}

.row.mr-data {
    margin-left: 0;
    margin-right: 0;
}


/* Sticky footer styles
-------------------------------------------------- */
/* line 559, ../sass/screen.scss */
html {
    min-height: 100%;
}

/* line 563, ../sass/screen.scss */
body {
    /* Margin bottom by footer height */
    margin-bottom: 180px;
    font-family: "tk-tenso-n4";
    overflow-y: scroll;
    /* Show vertical scrollbar */
}

/* line 567, ../sass/screen.scss */
footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 85px;
    padding-top: 2em;

    font-family: "tk-tenso-n4";
    font-size: 100%;
}

small {
    font-size: .7em;
    line-height: 1em;
    display: block;
    margin-bottom: 5px;
}

/* cases CSS */
.case-box {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.case-box {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
    width: 142px;
    height: 142px;
}

.case-box:hover {
    background-color: black;
    color: white;
}

.title-wrap {
    height: 20px;
    margin-bottom: 30.8px;
}

.remove-underline {
    text-decoration: none;
}

p.info {
    padding: 30px 20px 0 20px;
    color: #666;
    font-family: sans-serif;
    font-size: 13px;
}

.form-check-input.is-valid,
.was-validated .form-check-input:valid {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .25);
}

.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
    background-color: #2d00ee;
    border-color: #2d00ee;
}

/* customize validation style */
.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: #1a1a1a;
}

.form-check {
    font-size: 20.3px;
}

.form-check {
    padding-left: 50px !important;
}

.form-group {
    margin-bottom: 60px;
}

/* customize sweet alert */
.swal-modal {
    border-radius: 0;
}

.swal-title {
    font-family: "tk-tenso-n4";
    color: black;
}

.swal-text {
    font-family: "tk-tenso-n4";
}

.swal-button {
    background-color: #2d00ee;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    font-family: "tk-tenso-n4";
    font-weight: 400;
}

.swal-button:not([disabled]):hover {
    background-color: #1d009f;
}

.swal-button:not([disabled]):focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #2d00ee;
    border-color: #2d00ee;
}

.scroll-btn, .level-btn, .zoom-btn, .reset-btn {
    border: none;
}

.scroll-btn:hover, .level-btn:hover, .zoom-btn:hover, .reset-btn:hover {
    background-color: #444;
}

.case_desc {
    display: none;
}

#title {
    display: none;
}

@media (min-width: 768px) {

    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: .5rem;
        padding-left: 0;
    }

    nav .navbar-nav>li:first-child,
    nav .navbar-nav>li:first-child a {
        padding-left: 0;
        margin-left: 0;
    }

    .layerContainer {
        max-height: 208px;
    }

}

@media (min-width:992px) {
    .layerContainer {
        max-height: 280px;
    }
}


@media (min-width:1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: .5rem;
        padding-left: 0;
    }

    nav .navbar-nav>li:first-child,
    nav .navbar-nav>li:first-child a {
        padding-left: 0;
        margin-left: 0;
    }

    .row {
        margin-right: 5%;
        margin-left: 5%;
    }

    .layerContainer {
        max-height: 300px;
    }

}

@media (min-width:1300px) {
    .layerContainer {
        max-height: 310px;
    }
}

@media (min-width:1400px) {
    .layerContainer {
        max-height: 350px;
    }
}

::selection {
    background-color: #2d00ee;
    color: #fff;
  }

.nav-item {
    margin-right: 2rem !important;
}

html {
    border: 10px solid #1a1a1a;
}

input[type=checkbox]{
    accent-color: rgb(45, 0, 238);
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.form-check-input:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.btn-outline-dark {
    border-color: #1a1a1a;
}

.btn-outline-dark:hover {
    background-color: #000;
}

body  {
    color: #1a1a1a;   
}

.sitetitle {
    color: #1a1a1a;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}
 
.imagelabel {
    font-size: 16px;
    position: relative;
    left: 0px;
    bottom: 25px;
    color: #CCC;
    z-index: 10;
}

.imagelabel span {
    background: #000000;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}